<div class="container" (dragover)="onDrag($event)" (drop)="onDrop($event)">
  <div style="text-align:center">
    <h1 class="font-weight-bold text-monospace pt-5">
      Seedbox {{username}}

      <button class="btn btn-secondary mr-3" (click)="restart()">
        <i class="fa fa-undo"></i>
      </button>

      <button class="btn btn-secondary " (click)="logout()">
        <i class="fa fa-sign-out"></i>
      </button>
    </h1>
  </div>

  <app-torrents #appTorrents></app-torrents>

  <h3 *ngIf="error" style="text-align:center; color: red">Impossible de se connecter à rtorrent.</h3>
  <div *ngIf="error" style="text-align: center">
    <button class="btn btn-primary" (click)="restart()">Redémarrer rtorrent</button>
  </div>

</div>