<input type="file" #file style="display: none" (change)="onFileAdded()" accept=".torrent" />

<div *ngIf="!parent.error" style="margin: auto; width: 75%" class="input-group mb-3">
  <div class="input-group-prepend">
    <input type="button" class="btn btn-primary" style="width: 150px" (click)="btnTorrent()" value="{{btnName}}">
  </div>
  <input #magnet type="text" class="form-control" placeholder="Lien magnet" (focus)="onFocus()" (focusout)="onFocusOut()">
</div>

<progressbar *ngIf="torrents == null && !parent.error" style="height: 35px;" [value]="100" type="danger" [striped]="true" [animate]="true">
  <b style="font-size: 25px">Chargement...</b>
</progressbar>

<h3 *ngIf="torrents != null && torrents.length == 0 && !parent.error" class="text-center">Aucuns torrents disponibles</h3>

<table *ngIf="torrents != null && torrents.length > 0 && !parent.error" class="table table-bordered table-sm mt-3 table-dark header-fixed">
  <thead>
    <tr>
      <th style="width:3%"></th>
      <th style="width:46%; text-align: left">NOM</th>
      <th style="width:7%">TAILLE</th>
      <th style="width:7%">REÇU</th>
      <th style="width:8%">TÉLÉCHARGÉ</th>
      <th style="width:7%">ENVOYÉ</th>
      <th style="width:5%">RATIO</th>
      <th style="width:7%">RÉCEPTION</th>
      <th style="width:10%">TEMPS ESTIMÉS</th>
    </tr>
  </thead>

  <tbody class="table-light">
    <tr *ngFor="let torrent of torrents; let i = index; trackBy: trackByFn">
      <th class="text-center">
        <button class="btn btn-danger btn-sm" (click)="openModal(template, i, torrent.hash)">
          <i class="fa fa-trash"></i>
        </button>
      </th>
      <th style="text-align: left">
        <a href="data/{{torrent.name}}" style="color: black">
          {{torrent.name}}
        </a>
      </th>
      <th>{{torrent.size}}</th>
      <th>
        <progressbar class="progress" style="height: 20px;" [value]="torrent.percent" type="info">
          <b>{{torrent.percent}}%</b>
        </progressbar>
      </th>
      <th>{{torrent.download}}</th>
      <th>{{torrent.send}}</th>
      <th>{{torrent.ratio}}</th>
      <th>{{torrent.reception}}</th>
      <th>{{torrent.timeLeft}}</th>
    </tr>
  </tbody>
</table>

<ng-template #template>
  <div class="modal-body text-center">
    <p>Confirmer la suppression ?</p>
    <button type="button" class="btn btn-default mr-1" (click)="removeTorrent()">Oui</button>
    <button type="button" class="btn btn-primary ml-1" (click)="modalRef.hide()">Non</button>
  </div>
</ng-template>
